<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>WOW - Das hat geklappt!!</h1>
    <p>heute ist ein besonderer Tag, denn wir feiern deinen großartigen Erfolg! Du hast es geschafft, eine
        Herausforderung zu meistern, die Mut, Ausdauer und Hingabe erfordert hat. Es war ein Weg voller Höhen und
        Tiefen, voller harter Arbeit, aber auch voller Momente des Stolzes und der Freude. Du hast nicht nur deine
        eigenen Erwartungen übertroffen, sondern auch die unserer Gemeinschaft, die dir auf diesem Weg zugeschaut und
        mitgefiebert hat.</p>
    <p>Mit deinem unermüdlichen Engagement und deiner positiven Einstellung hast du bewiesen, dass sich Einsatz und
        Durchhaltevermögen auszahlen. Du hast uns inspiriert, gezeigt, dass man mit Leidenschaft und Zielstrebigkeit
        jedes Hindernis überwinden kann. Deine Leistung ist ein Zeichen für all jene, die noch an ihrem eigenen Ziel
        arbeiten: Es lohnt sich, dranzubleiben und nie aufzugeben.</p>
    <p>Wir sind stolz auf dich und wünschen dir, dass dieser Erfolg nur der Anfang vieler weiterer Erfolge sein wird.
        Genieße diesen Moment, denn du hast es dir verdient. Wir gratulieren dir von Herzen und freuen uns auf alles,
        was noch vor dir liegt. Herzlichen Glückwunsch!</p>
    <ul>
        {% for gadget in gadget_list %}
        <li>
                {{ gadget.name}}
        </li>
        {% endfor %}

    </ul>
</body>

</html>