{% extends 'base.html' %}

{% block title %}
  Start Page
{% endblock %}Gadget List{% block content %}
  <h1>"Willkommen in der Welt der Innovation – Willkommen bei Tech Gadgets"</h1>
    <p>Erlebe die Zukunft der Technologie! Bei uns findest du nicht einfach nur Gadgets, sondern Visionen, die dein Leben bereichern und inspirieren. Jedes Produkt steht für Innovation, Qualität und grenzenlose Möglichkeiten. Von smarten Alltagshelfern bis hin zu revolutionären Neuheiten – wir bieten dir Technik, die begeistert und überrascht.</p>
    <p>Bist du bereit, das nächste Level zu erreichen? Dann tauche ein in unsere Welt und entdecke die Magie moderner Technologie. Bei Tech Gadgets beginnt die Zukunft – und du bist mittendrin.</p>
  <div class="selection">
    <div>
      <h2>Gadgets</h2>
      <ul>
        {% for gadget in gadget_list %}
          <a href="./gadget/{{ forloop.counter }}"><li>{{ gadget.name }}</li></a>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2>Manufacturers</h2>
      <ul>
        {% for manuf in manuf_list %}
          <a href="./manuf/{{ forloop.counter }}"><li>{{ manuf.name }}</li></a>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
